$Pale-Blue: hsl(243, 100%, 93%);
$Grayish-Blue: hsl(229, 7%, 55%);
$Dark-Blue: hsl(228, 56%, 26%);
$Very-Dark-Blue: hsl(229, 57%, 11%);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.4;
    color: #fff;
    overflow-x: hidden;
    background-color: $Very-Dark-Blue;
}

.container {
    max-width: 1270px;
    margin: auto;
    padding: 0 2rem;
}

main {
    background: url(../images/bg-mobile.png) no-repeat center top/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
        //left
        .left {
            background-color: $Dark-Blue;
            padding: 2rem;
            border-radius: 10px 5rem 10px 10px;
            margin-bottom: 1rem;
            .logo {
                margin-bottom: 1.5rem;
            }
            .icons {
                display: flex;
                align-items: center;
                div {
                    margin-right: 1rem;
                    background-color: $Very-Dark-Blue;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                }
            }
        }
        //right
        .right {
            background-color: $Dark-Blue;
            padding: 1.5rem;
            border-radius: 10px;
            position: relative;
            &>p {
                color: $Pale-Blue;
                font-size: 1rem;
                padding: 0 1rem;
            }
            .process {
                width: 100%;
                height: 25px;
                border: 4px solid $Very-Dark-Blue;
                border-radius: 5rem;
                background-color: $Very-Dark-Blue;
                margin: 1rem 0 .5rem 0;
                overflow: hidden;
                div {
                    position: relative;
                    border-radius: 5rem;
                    height: 100%;
                    background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        transform: translateY(-45%);
                        right: 2px;
                        width: 13px;
                        height: 13px;
                        border-radius: 50%;
                        background-color: $Pale-Blue;
                    }
                }
            }
            .gb {
                display: flex;
                justify-content: space-between;
                font-size: .8rem;
                font-weight: 700;
                padding-bottom: 1rem;
            }
            .white-box {
                position: absolute;
                background-color: #fff;
                color: $Grayish-Blue;
                display: flex;
                align-items: center;
                padding: .5rem 1rem;
                border-radius: 10px;
                width: fit-content;
                left: 50%;
                transform: translateX(-50%);
                strong {
                    color: $Very-Dark-Blue;
                    font-weight: 700;
                    font-size: 3rem;
                    margin-right: 1rem;
                }
                p {
                    font-size: 1rem;
                    font-weight: 700;
                }
            }
        }
    }
}

@media only screen and(min-width: 1080px) {
    main {
        background: url(../images/bg-desktop.png) no-repeat;
        background-position: 0 120%;
        background-size: contain;
        .container {
            display: grid;
            grid-template-columns: 3fr 5fr;
            grid-gap: 2rem;
            align-items: flex-end;
            .left {
                margin-bottom: 0;
                padding: 4rem 10rem 4rem 4rem;
                border-top-right-radius: 8rem;
            }
            .right {
                height: fit-content;
                padding: 3rem;
                &>p {
                    padding: unset;
                }
                .gb {
                    padding-bottom: 0rem;
                }
                .white-box {
                    top: -4.5rem;
                    right: 3rem;
                    left: unset;
                    transform: none;
                    padding: 1rem 2rem;
                    &:after {
                        content: '';
                        position: absolute;
                        bottom: -30px;
                        right: 0;
                        width: 0;
                        height: 0;
                        border-top: 40px solid #fff;
                        border-left: 40px solid transparent;
                    }
                }
            }
        }
    }
}